<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
</head>
<body>
   <h2>Buy product</h2>
   <h3>customer details</h3>
   <form  action="buy/{{product.id}}/{{customer.id}}"  method="post">
      {% csrf_token %}
   <table>
      <tr>
         <td>id : </td>
         <td>{{customer.id}}</td>
      </tr>
      <tr>
         <td>first name : </td>
         <td>{{customer.fname}}</td>
      </tr>
      <tr>
         <td>last namem : </td>
         <td>{{customer.lname}}</td>
      </tr>
      <tr>
         <td>address</td>
         <td>{{customer.address}}</td>
      </tr>
      <tr>
         <td>pincode : </td>
         <td>{{customer.pincode}}</td>
      </tr>
   </table>
   <h3>product details</h3>
   <table>
      <tr>
         <td>id :</td>
         <td>{{product.id}}</td>
      </tr>
      <tr>
         <td>Product name : </td>
         <td>{{product.name}}</td>
      </tr>
      <tr>
         <td>cost : </td>
         <td>{{product.cost}}</td>
      </tr>
      <tr>
         <td>quantity : </td>
         <td><input type="number" name="quantity" placeholder="Quantity"></td>
      </tr>
   </table>
   <input type="submit" value="BUY">
   </form>
</body>
</html>